* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.container {
  width: 90%;
  max-width: 1920px;
  margin: 0 auto;
}
header .container,
header .container nav {
  width: 95%;
  display: flex;
  justify-content: space-between;
}
header .header-top {
  height: 60px;
  background-color: #f5f5f5;
  display: flex;
  align-items: center;
}
header .header-top .shop-now {
  display: flex;
}
header .header-top .contact i {
  font-weight: normal;
  margin-right: 5px;
}
header .header-top span {
  padding: 0 10px;
}
header .header-top .shop-now a {
  font-size: 14px;
  font-weight: 600;
  color: #fff;
  background-color: #ba933e;
  margin-left: 10px;
  display: inline-block;
  padding: 3px 6px;
  border-radius: 5px;
}
header .header-top p,
.header-top span {
  font-weight: 200;
}
header .header-top .social-m i {
  margin: 0 5px;
  color: #918f8f;
}
header .header-top i:hover,
.header-top span:hover {
  color: #ba933e;
  cursor: pointer;
}
header .header-bottom {
  height: 80px;
  display: flex;
  align-items: center;
  background-color: #fff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
}
header .header-bottom ul {
  display: flex;
}
header .header-bottom img {
  width: 130px;
  height: 25px;
}
header .header-bottom nav {
  width: 100%;
}
header .header-bottom .shopping {
  display: flex;
  /* width: 25%;
  justify-content: space-between; */
}
header .header-bottom nav a {
  margin: 0 2px;
  padding: 28.5px 20px;
  color: #000;
  font-weight: 300;
  position: relative;
}
header .header-bottom nav ul li .home {
  color: #ba933e;
}
header .header-bottom nav a:hover {
  color: #ba933e;
}
header .header-bottom nav a i {
  margin-left: 5px;
  font-size: 14px;
  font-weight: 100;
}
header .header-bottom i:hover {
  color: #ba933e;
  cursor: pointer;
}
header .header-bottom .shopping .login {
  margin-right: 20px;
}
header .header-bottom .shopping .login span:nth-child(3) {
  padding-right: 12px;
}
header .header-bottom .shopping .login span:hover:nth-child(2) {
  color: #ba933e;
  cursor: pointer;
}
header .header-bottom .shopping i {
  padding: 0 10px;
  font-weight: normal;
}
header .header-bottom {
  position: relative;
}
/* ---------------drop-menu----------------------- */

header .header-bottom .drop-menu {
  position: absolute;
  z-index: 1;
  display: flex;
  transform: scale(0);
  top: 75px;
  padding: 20px;
  visibility: hidden;
  box-shadow: 1px 0px 2px 1px rgba(0, 0, 0, 0.4);
}
header .header-bottom li:hover .drop-menu {
  visibility: visible;
  transform: scale(1);
  transition: transform 0.5s ease-out;
}
header .header-bottom .drop-menu ul {
  display: block;
}
header .header-bottom .drop-menu h4 {
  margin-bottom: 20px;
}
header .header-bottom .drop-menu .drop-list {
  padding-right: 30px;
}
header .header-bottom .drop-menu ul li a {
  padding: 0;
}
header .header-bottom .drop-menu ul li {
  margin: 5px 0;
}
header .header-bottom nav .furnituer {
  background-image: url("img/bg-home.png");
  /* height: 300px; */
  width: 700px;
  background-position: center;
  background-color: #fff;
  background-size: auto;
}
header .header-bottom nav .products {
  background-image: url("img/bg_update.png");
  /* height: 300px; */
  width: 90%;
  background-position: right;
  background-color: #fff;
  background-size: auto;
  left: 72px;
  height: 380px;
  background-repeat: no-repeat;
}
header .header-bottom .page,
.header-bottom .blog {
  background-color: #fff;
  width: 220px;
}
main .start-shopping {
  background-image: url("img/home1-slide2.jpeg");
  height: 550px;
  background-position: center;
  background-size: cover;
  position: relative;
}
main .start-shopping::after {
  content: "";
  position: absolute;
  width: 100%;
  /* bottom: -6px; */
  /* height: 6px; */
  top: 0;
  border-top: 6px solid #bebebe;
  animation: border 5s linear infinite;
}
@keyframes border {
  from {
    left: -100%;
  }
  to {
    left: 0;
  }
}
main .start-shopping .content {
  position: absolute;
  top: 50%;
  left: 25%;
  transform: translate(-25%, -50%);
}
main .start-shopping .content h1 {
  font-size: 32px;
  font-weight: 700;
  margin: 15px 0;
}

main .start-shopping .content p {
  font-weight: 500;
}
main .start-shopping .content p span {
  color: #ba933e;
}
main .start-shopping .content a {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  background-color: #000;
  padding: 10px 20px;
  border-radius: 6px;
}
main .start-shopping .content a:hover {
  background-color: #ba933e;
}
main .products {
  padding: 60px 0;
}
main .products .title {
  text-align: center;
  margin-bottom: 50px;
}
main .products .title p {
  margin: 20px 0;
}
main .products .product-list {
  display: flex;
  justify-content: space-between;
}
main .products .product-list img {
  width: 292px;
  height: 363px;
}
main .products .product-list .font-image {
  position: relative;
}
main .products .product-list .back-image {
  position: absolute;
  top: 0;
  display: none;
}
main .products .product-list .font-image:hover .back-image {
  display: block;
}
/* main .products .product-list .text {
  position: relative;
} */
/* main .products .product-list .content {
  position: absolute;
  top: 0;
} */
main .products .product-list .icon {
  position: absolute;
  right: 20px;
  /* display: block; */
  top: 50px;
}
main .products .product-list .icon i {
  display: block;
  margin: 10px 0;
  font-weight: normal;
  background-color: #fff;
  padding: 10px;
  border-radius: 3px;
}
main .products .product-list .icon i:hover {
  background-color: #ba933e;
  color: #fff;
}
main .products .product-list a {
  display: block;
  position: absolute;
  bottom: 20px;
  color: #fff;
  background-color: #000;
  font-size: 14px;
  font-weight: 700;
  padding: 15px 70px;
  border-radius: 4px;
  left: 23.5px;
  visibility: hidden;
  transition: 0.5s ease-out;
}
main .products .product-list .font-image:hover .back-image a {
  visibility: visible;
  animation: fadeInUp 1s;
}
main .products .product-list a:hover {
  background-color: #ba933e;
}
main .products .product-list a i {
  margin-right: 8px;
  font-weight: normal;
}
main .products .description span {
  color: #918f8f;
}
main .products .description h4 {
  margin-top: 20px;
  margin-bottom: 7px;
}
main .products .description .new {
  color: #ba933e;
  margin-left: 5px;
}
main .products .description .old {
  position: relative;
  color: #918f8f;
}
main .products .description .old::after {
  content: "";
  position: absolute;
  border-bottom: 1px solid;
  width: 100%;
  /* top: -10px; */
  left: 0;
  bottom: 11px;
}
main .delivery .parcel,
.instagram .bottom-image {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}
main .delivery .parcel .image,
.instagram .bottom-image .image {
  position: relative;
  width: 614px;
  height: 442px;
}
main .delivery .parcel .content,
.instagram .bottom-image .content {
  position: absolute;
  top: 50%;
  left: 30px;
  transform: translate(-0px, -50%);
}
main .delivery .parcel .image .tow,
.instagram .bottom-image .image .tow {
  color: #fff;
}
main .delivery .parcel .image img,
.instagram .bottom-image .image img {
  width: 614px;
  height: 442px;
  /* position: relative; */
  /* border: 1px solid #000;
  border-style: none; */
}
/* main .delivery .parcel img:hover {
  border-style: ridge;
} */
main .delivery .parcel .image::after,
.instagram .bottom-image .image::after {
  position: absolute;
  content: "";
  border: 1px solid #fff;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}
main .delivery .parcel .image:hover::after,
.instagram .bottom-image .image:hover::after {
  animation: animate 1s forwards;
}
@keyframes animate {
  0% {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  100% {
    top: 12px;
    left: 12px;
    right: 12px;
    bottom: 12px;
  }
}
main .delivery .parcel .content h2,
.brand .content h2,
.subscribe .content h2,
.instagram .bottom-image .content h2 {
  margin-top: 15px;
  margin-bottom: 25px;
  font-size: 35px;
}
main .delivery .parcel .content h4 span,
.brand .content h4 span,
.instagram .bottom-image .content h4 span {
  color: #ba933e;
}
main .delivery .parcel .content h4,
.brand .content h4,
.instagram .bottom-image .content h4 {
  font-size: 22px;
}
main .delivery .parcel .content a,
.brand .content a,
.instagram .bottom-image .content a {
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  background-color: #000;
  padding: 8px 20px;
  border-radius: 6px;
  display: inline-block;
  margin-top: 20px;
}
main .delivery .parcel .content a:hover,
.brand .content a:hover,
.instagram .bottom-image .content a:hover {
  background-color: #ba933e;
}
main .furnituer {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}
main .display .display-image {
  position: relative;
}
main .display .display-image .content {
  position: absolute;
  top: 30px;
  left: 30px;
}
main .display .display-image .content p,
main .subscribe .content p {
  margin-top: 20px;
  margin-bottom: 10px;
}
main .display .display-image .content span {
  color: #ba933e;
  border-bottom: 1px solid #ba933e;
}
main .display .display-image .image {
  height: 392px;
  overflow: hidden;
}

main .display .display-image img {
  width: 292px;
  height: 392px;
}
main .furnituer .display .last-image img {
  width: 614px;
  height: 392px;
}
main .furnituer .display .display-image .image::after {
  position: absolute;
  content: "";
  border: 1px solid #fff;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  box-shadow: none 0 0 0 12px rgba(0, 0, 0, 0.2);
  background-color: rgba(0, 0, 0, 0.05);
}

main .furnituer .display .display-image .image:hover::after {
  animation: animate 1s forwards;
}
/* @keyframes animate {
  0% {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  100% {
    top: 12px;
    left: 12px;
    right: 12px;
    bottom: 12px;
    opacity: 1;
  }
} */
main .brand {
  background-image: url("img/home1-banner-midde.jpeg");
  background-position: center;
  height: 550px;
  position: relative;
}
main .brand .content {
  position: absolute;
  top: 50%;
  left: 70%;
  transform: translate(-70%, -50%);
}
main .brand .overlay {
  position: absolute;
  background-color: rgb(255, 255, 255);
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  transition: all 0.5s linear;
  margin: auto;
  opacity: 0;
  /* opacity: 0; */
  /* transform: scale(0.1); */
  /* transition: 0.5s linear inherit; */
}
main .brand:hover .overlay {
  /* opacity: 0.3; */
  /* transform: scale(1); */
  width: 0;
  height: 0;
  opacity: 1;
  /* opacity: 0.5; */
}
main .subscribe {
  background-image: url("img/newsletter-bg.jpeg");
  background-position: center;
  background-attachment: fixed;
  height: 550px;
  position: relative;
  padding: 50px 0;
}
main .subscribe .content {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.6);
  /* opacity: 0.5; */
  padding: 50px 0;
  width: 70%;
}
main .subscribe .content form input[type="email"] {
  padding: 10px;
  width: 60%;
  font-size: 14px;
  border: 1px solid #c2c1c1;
  border-radius: 7px;
  outline: none;
}
main .subscribe .content form input[type="submit"] {
  padding: 10px 20px;
  color: #fff;
  background-color: #000;
  font-size: 14px;
  font-weight: 600;
  border-radius: 7px;
  border: none;
}
main .subscribe .content form input[type="submit"]:hover {
  background-color: #ba933e;
}
main .selling-method .container {
  width: 80%;
}
main .selling-method .content {
  display: flex;
  justify-content: space-between;
  height: 300px;
  align-items: center;
  text-align: center;
  width: 100%;
}

main .selling-method .content .method-info:not(:last-child) {
  border-right: 1px solid #bebebe;
  padding-right: 60px;
}
main .selling-method .content p {
  margin: 15px 0;
}
main .selling-method .content a {
  color: #000;
  font-weight: 600;
}
main .selling-method .content h3 {
  margin-top: 10px;
}
main .blog .content {
  padding: 50px 0;
}
main .blog .content .title {
  text-align: center;
}
main .blog .content h2 {
  margin-bottom: 20px;
}
main .blog .blog-design {
  display: flex;
  justify-content: space-between;
}
main .blog .blog-design img {
  width: 400px;
  height: 256px;
  cursor: pointer;
}

main .blog .blog-design .sample {
  position: relative;
  margin-top: 30px;
  margin-bottom: 20px;
  width: 400px;
}
main .blog .blog-design .sample .sample-info {
  width: 400px;
  height: 256px;
  overflow: hidden;
  margin-bottom: 15px;
}
main .blog .blog-design .sample h2:hover {
  color: #ba933e;
  cursor: pointer;
}
main .blog .blog-design .sample:hover img {
  transform: scale(1.1);
  transition: 0.3s ease-in-out;
}
main .blog .blog-design .choice {
  position: absolute;
  top: 20px;
  left: 20px;
}
main .blog .blog-design .choice span {
  padding: 5px 7px;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  background-color: #ba933e;
  border-radius: 5px;
  margin-left: 5px;
}
main .blog .blog-design .sample .admin {
  color: #ba933e;
  font-size: 14px;
  font-weight: 600;
  margin-right: 5px;
}
main .blog .blog-design .sample a {
  border: 1px solid #bebebe;
  display: inline-block;
  padding: 10px 20px;
  color: #000;
  font-size: 14px;
  font-weight: 600;
  border-radius: 6px;
  margin-top: 15px;
}
main .blog .blog-design .sample a:hover {
  background-color: #ba933e;
  color: #fff;
}
main .slider {
  height: 280px;
  display: flex;
  align-items: center;
}
main .slider .container {
  overflow: hidden;
}
main .slider .content {
  display: flex;
  justify-content: space-between;
  padding: 40px 0;
  animation: 8s slid infinite;
  /* animation-delay: 200ms; */
  width: 100%;
  position: relative;
  overflow: ;
  /* animation: fadeInRight 20s infinite; */
}
main .slider .content img {
  width: 196px;
  height: 95px;
  /* margin-right: 30px; */
  /* animation: slideInRight 25s infinite; */
  /* transition: slid 0.4s infinite; */
}
/* @keyframes slid {
  0% {
    left: 0;
  }
  17% {
    left: -17%;
  }

  18% {
    left: -25%;
  }
  20% {
    left: -28;
  }
  40% {
    left: -35%;
  }
  50% {
    left: -45%;
  }
  70% {
    left: -60%;
  }
  80% {
    left: -70%;
  }
  90% {
    left: -80%;
  }
  100% {
    left: -100%;
  }
} */
@keyframes slid {
  from {
    left: -0%;
  }
  to {
    left: -100%;
  }
}
main .instagram {
  padding-bottom: 50px;
}
main .instagram .bottom-image .image {
  width: 48.5%;
}
main .instagram .bottom-image .image img {
  width: 100%;
}
main .instagram .top-image img {
  width: 185px;
  height: 185px;
  cursor: pointer;
}
main .instagram .top-image {
  display: flex;
  justify-content: space-between;
}
footer {
  padding-top: 50px;
  background-color: #000;
  height: 470px;
}
footer .footer-bottom .content {
  display: flex;
  justify-content: space-between;
  color: #fff;
  margin-bottom: 60px;
  height: 100px;
  align-items: center;
}
footer .footer-top .content {
  display: flex;
  justify-content: space-between;
  color: #fff;
  margin-bottom: 60px;
  height: 255px;
}
footer .content ul li {
  margin: 5px 0;
}
footer .content a {
  color: #918f8f;
}
footer .content h4 {
  margin-bottom: 20px;
}
footer .content p {
  color: #918f8f;
  margin-bottom: 20px;
  line-height: 1.8;
  display: flex;
}
footer .content p i {
  margin-right: 10px;
  font-weight: normal;
}
footer .content .socail-M img {
  display: block;
  margin-bottom: 20px;
  /* color: #bebebe; */
}
footer .content .socail-M i {
  padding-right: 20px;
  font-size: 20px;
  color: #bebebe;
}
footer .footer-bottom .content p span {
  color: #fff;
  margin: 0 5px;
}
